<div class="container">
<div class="row mb-5 mt-5">
    <div class="col-sm-6  mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-2 p-3">Name</h5>
          <p class="card-text fs-3 mt-3 ml-3 text-center">{{detailed_user.name}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6  mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-2 p-3">Email</h5>
          <p class="card-text fs-3 mt-3 ml-3 text-center">{{detailed_user.email}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-2 p-3">Mobile</h5>
          <p class="card-text fs-3 mt-3 ml-3 text-center">{{detailed_user.mobile}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
